.messageHeading {
  padding: 10px 0px 0px 0px;
  border-top: solid 3px #434141;
  color: #434141;
  font-family: "Andale Mono";
  font-weight: lightest;
  text-transform: uppercase;
  background-color: #f6f5f0;
}

.contactForm {
  border-bottom: solid 3px #434141;
  padding: 0px 0px 15px 0px;
}
.name,
.yourEmail,
.yourMessage {
  border-top: solid 3px #434141;
  border-radius: 0px;
  border-bottom: none;
  border-right: none;
  border-left: none;
  background-color: #f6f5f0;
  width: 100vw;
  font-size: 20px;
  font-family: "Andale Mono";
  font-weight: lightest;
  text-transform: uppercase;
  padding: 20px 0px 20px 0px;
  text-indent: 20px;
}
.yourMessage {
  border-bottom: solid 3px #434141;
  margin-bottom: 15px;
}

.pleaseSubmit {
  text-align: start;
  border: none;
  color: #434141;
  background-color: #f6f5f0;
  width: 100vw;
  font-size: 20px;
  font-family: "Andale Mono";
  font-weight: lightest;
  text-transform: uppercase;
}

.name:focus,
.yourEmail:focus,
.yourMessage:focus,
.pleaseSubmit:focus {
  outline: none;
}

input::placeholder {
  color: #434141;
}

@media (min-width: 990px) {
  .contactForm {
    display: inline;
    position: absolute;
  }

  .messageHeading {
    margin-left: 0%;
    margin-top: 50px;
  }

  .name,
  .yourEmail,
  .yourMessage,
  .pleaseSubmit {
    margin-left: 0%;
    text-indent: 17%;
    width: 100%;
  }
}
