.headerWrap {
  border-bottom: solid 3px #434141;
  padding: 0px;

  position: fixed;
  width: 100vw;
  background-color: #f6f5f0;
}

.ercTitleLink {
  text-decoration: none;
}

h1 {
  color: #434141;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 50px;
  letter-spacing: 7px;
  padding: 0px;
  margin: 10px;
}
