@font-face {
  font-family: "Andale Mono"; /*Can be any text*/
  src: local("Andale Mono"), url("./font/AndaleMono.ttf") format("truetype");
}

.galleryWrap {
  padding-top: 105px;
  display: block;
  margin: 0 auto;
}
